body {
  overflow-x: hidden !important;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

#page-heading {
  background-color: #134611;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 0 20px 0;
}

.page-heading-ext {
  background-color: #134611;
  padding: 0;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid thin darkgrey;
}

.italic {
  font-style: italic;
}

.float-to-end {
  float: inline-end;
}

nav {
  background-color: #1B264F;
  margin: 0;
}

.nav-link {
  color: azure;
  font-weight: 900;
  background-color: #1B264F;
  border-radius: 10px;
}

.nav-link:hover {
  color: #7FFFD4;
}

.nav-item {
  border-right: solid medium #1B264F;
  margin-right: 5px;
  border-radius: 0;
  transition: border-right 0.8s ease;
  padding: 0;
  padding-top: 5px;
}

.nav-item:hover {
  border-right: solid medium #7FFFD4;
}

.navbar-toggler {
  width: 25%;
  height: 50px;
}

.project-link {
  border: none;
  padding-top: 10px;
  background-color: #1B264F;
  text-wrap: wrap;
}

.dropdown-menu {
  background-color: #1B264F;
  padding: 10px;
}

.dropdown-item {
  border: none;
  border-top: none;
  border-bottom: none;
  text-align: left;
  padding: 5px 0 5px 0;
  font-size: 16px;
  border-top: solid thin #7C77B9;
  margin-bottom: 5px;
  border-bottom: solid thin #1B264F;
  transition: border-bottom 0.8s ease;
}

.dropdown-item:hover {
  background-color: #1B264F;
  color: #7FFFD4;
  border-bottom: solid thin #7FFFD4;
}

.section {
  border-top: solid thin darkgray;
  padding: 10px;
}

p {
  font-size: 18px;
}

.brand-btn {
  padding: auto;
  font-size: 16px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-content: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 45%;
  scale: 1;
  transition: scale 0.8s ease;
  padding: 12px;
}
.brand-btn:hover {
  scale: 1.1;
  transition: scale 0.8s ease;
  cursor: pointer;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background-color: #333333;
  color: white;
}

.fa-docker {
  background-color: #0db7ed;
  color: white;
}

.content-expander {
  border: solid thin lightgray;
  padding: 2%;
  border-radius: 15px;
  background-color: #7C77B9;
  transition: background-color 0.8s ease;
}
.content-expander:hover {
  color: #7FFFD4;
  background-color: #212529;
}

.badge-img {
  width: 140px;
  height: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-img {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding: auto;
}

@keyframes modal-btn-animate-hover {
  from {
    border: solid medium grey;
  }
  to {
    border: solid medium #7FFFD4;
  }
}
@keyframes modal-btn-animate-unhover {
  from {
    border: solid medium #7FFFD4;
  }
  to {
    border: solid medium grey;
  }
}
.modal-btn {
  margin-bottom: 10px;
  border: solid medium grey;
  border-radius: 10px;
}

.modal-btn:hover {
  background-color: #333333;
  border: solid medium #7FFFD4;
  animation: modal-btn-animate-hover 0.8s;
}

.modal-btn:not(:hover) {
  animation: modal-btn-animate-unhover 0.8s;
}

footer {
  padding: 0;
}

.footer-image {
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}

#footer-imgs {
  background-color: #1D8A99;
  padding-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

#footer-info {
  padding: 10px 30px 0 30px;
  background-color: #134611;
  margin: auto;
}

/*# sourceMappingURL=index.css.map */
