.nav-link {
    color: azure;
    font-weight: 900;
}

.nav-link:hover {
    color: aquamarine;
}

#last-nav {
    border: none;
}

.nav-item {
    border-right: solid thin grey;
}

.nav-item:hover {
    border-right: solid thin aquamarine;
}

h1 {
    font-weight: bolder;
}

.section {
    border-top: solid thin darkgray;
    padding: 10px;
}
p {
    font-size: 18px;
}

.fa {
    padding: auto;
    font-size: 24px;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-github {
    background-color: #333333;
    color: white;
}

footer {
    padding: 20px;
}
.footer-image {
    height: 150px;
    width: 150px;
    padding: 0;
    margin: 0;
}