$text-colour: #DEE2E6; //White text colour
$bg-color: #212529; //Dark grey background colour
$aqmr: #7FFFD4; //Aquamarine
$trindg: #7C77B9; //Tropical indigo
$blue: #1D8A99; //Blue (munsell)
$darkBlue: #1B264F;
$green: #134611;
$transTime: 0.8s;

body {
    overflow-x: hidden !important;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

#page-heading {
    background-color: $green;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px 0 20px 0;
}

.page-heading-ext {
    background-color: #134611;
    padding: 0;
}

#content {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: solid thin darkgrey;
}

.italic {
    font-style: italic;
}

.float-to-end {
    float: inline-end;
}

// Nav styling 

nav {
    background-color: $darkBlue;
    margin: 0;
}

.nav-link {
    color: azure;
    font-weight: 900;
    background-color: $darkBlue;
    border-radius: 10px;
}

.nav-link:hover {
    color: $aqmr;
}

.nav-item {
    border-right: solid medium $darkBlue;
    margin-right: 5px;
    border-radius: 0;
    transition: border-right $transTime ease;
    padding: 0;
    padding-top: 5px;
}

.nav-item:hover {
    border-right: solid medium $aqmr;
}

.navbar-toggler {
    width: 25%;
    height: 50px;
}

.project-link {
    border: none;
    padding-top: 10px;
    background-color: $darkBlue;
    text-wrap: wrap;
}

.dropdown-menu {
    background-color: $darkBlue;
    padding: 10px;
}

.dropdown-item {
    border: none;
    border-top: none;
    border-bottom: none;
    text-align: left;
    padding: 5px 0 5px 0;
    font-size: 16px;
    border-top: solid thin $trindg;
    margin-bottom: 5px;
    border-bottom: solid thin $darkBlue;
    transition: border-bottom $transTime ease;
}

.dropdown-item:hover {
    background-color: $darkBlue;
    color: $aqmr;
    border-bottom: solid thin $aqmr;
}

// ----------------------------------------//
.section {
    border-top: solid thin darkgray;
    padding: 10px;
}

p {
    font-size: 18px;
}

.brand-btn {
    padding: auto;
    font-size: 16px;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 45%;
    scale: 1.0;
    transition: scale $transTime ease;
    padding: 12px;

    &:hover {
        scale: 1.1;
        transition: scale $transTime ease;
        cursor: pointer;
    }
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background-color: #333333;
    color: white;
}

.fa-docker {
    background-color: #0db7ed;
    color: white;
}

//Content expanders

.content-expander {
    border: solid thin lightgray;
    padding: 2%;
    border-radius: 15px;
    background-color: $trindg;
    transition: background-color $transTime ease;

    &:hover {
        color: $aqmr;
        background-color: $bg-color;
    }
}

//-----------------------------------------//

.badge-img {
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-img {
    display: block;
    margin: 0 auto;
    width: 75%;
    padding: auto;
}

// Modal buttons styling

@keyframes modal-btn-animate-hover {
    from {
        border: solid medium grey;
    }

    to {
        border: solid medium $aqmr;
    }
}

@keyframes modal-btn-animate-unhover {
    from {
        border: solid medium $aqmr;
    }

    to {
        border: solid medium grey;
    }
}

.modal-btn {
    margin-bottom: 10px;
    border: solid medium grey;
    border-radius: 10px;
}

.modal-btn:hover {
    background-color: #333333;
    border: solid medium $aqmr;
    animation: modal-btn-animate-hover $transTime;
}

.modal-btn:not(:hover) {
    animation: modal-btn-animate-unhover $transTime;
}


// Footer Styling------------------------------//

footer {
    padding: 0;
}

.footer-image {
    height: 150px;
    width: 150px;
    padding: 0;
    margin: 0;
}

#footer-imgs {
    background-color: $blue;
    padding-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

#footer-info {
    padding: 10px 30px 0 30px;
    background-color: $green;
    margin: auto;
}