body {
  overflow-x: hidden !important;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

#page-heading {
  background-color: #134611;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 0 20px 0;
}

.page-heading-ext {
  background-color: #134611;
  padding: 0;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: solid thin darkgrey;
}

.italic {
  font-style: italic;
}

.float-to-end {
  float: inline-end;
}

nav {
  background-color: #1B264F;
  margin: 0;
}

.nav-link {
  color: azure;
  font-weight: 900;
  background-color: #1B264F;
  border-radius: 10px;
}

.nav-link:hover {
  color: #7FFFD4;
}

.nav-item {
  border-right: solid medium #1B264F;
  margin-right: 5px;
  border-radius: 0;
  transition: border-right 0.8s ease;
  padding: 0;
  padding-top: 5px;
}

.nav-item:hover {
  border-right: solid medium #7FFFD4;
}

.navbar-toggler {
  width: 25%;
  height: 50px;
}

.project-link {
  border: none;
  padding-top: 10px;
  background-color: #1B264F;
  text-wrap: wrap;
}

.dropdown-menu {
  background-color: #1B264F;
  padding: 10px;
}

.dropdown-item {
  border: none;
  border-top: none;
  border-bottom: none;
  text-align: left;
  padding: 5px 0 5px 0;
  font-size: 16px;
  border-top: solid thin #7C77B9;
  margin-bottom: 5px;
  border-bottom: solid thin #1B264F;
  transition: border-bottom 0.8s ease;
}

.dropdown-item:hover {
  background-color: #1B264F;
  color: #7FFFD4;
  border-bottom: solid thin #7FFFD4;
}

.section {
  border-top: solid thin darkgray;
  padding: 10px;
}

p {
  font-size: 18px;
}

#social-btns > a {
  border: none;
}

.brand-btn {
  display: inline-flex;
  /* Flex alignment for inner SVG */
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-size: 24px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: 5px 2px;
  border: solid thin transparent;
  border-radius: 50%;
  /* Circle button shape */
  background-color: #f8f9fa;
  /* Default button background */
  color: currentColor;
  /* Default icon color */
  transition: transform 0.2s ease-in-out;
}
.brand-btn > * {
  transition: none;
}
.brand-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.brand-btn > .svg-inline--fa {
  width: 60%;
  /* Adjust SVG size */
  height: 60%;
  fill: currentColor;
  transform: none;
}

.fa-linkedin {
  background-color: #007bb5;
  /* LinkedIn color */
  color: white;
}

.fa-github {
  background-color: #333333;
  /* GitHub color */
  color: white;
}

.fa-docker {
  background-color: #0db7ed;
  /* Docker color */
  color: white;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e57bc 100%);
  color: white;
}

#linkedin {
  background-color: #007bb5;
}

#github {
  background-color: #333333;
}

#docker {
  background-color: #0db7ed;
}

#instagram {
  background: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e57bc 100%);
}

.content-expander {
  border: solid thin lightgray;
  padding: 2%;
  border-radius: 15px;
  background-color: #7C77B9;
  transition: background-color 0.8s ease;
}
.content-expander:hover {
  color: #7FFFD4;
  background-color: #212529;
}

.badge-img {
  width: 140px;
  height: 140px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-img {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding: auto;
}

@keyframes modal-btn-animate-hover {
  from {
    border: solid medium grey;
  }
  to {
    border: solid medium #7FFFD4;
  }
}
@keyframes modal-btn-animate-unhover {
  from {
    border: solid medium #7FFFD4;
  }
  to {
    border: solid medium grey;
  }
}
.modal-btn {
  margin-bottom: 10px;
  border: solid medium grey;
  border-radius: 10px;
}

.modal-btn:hover {
  background-color: #333333;
  border: solid medium #7FFFD4;
  animation: modal-btn-animate-hover 0.8s;
}

.modal-btn:not(:hover) {
  animation: modal-btn-animate-unhover 0.8s;
}

footer {
  padding: 0;
}

.footer-image {
  height: 150px;
  width: 150px;
  padding: 0;
  margin: 0;
}

#footer-imgs {
  background-color: #1D8A99;
  padding-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

#footer-info {
  padding: 10px 30px 0 30px;
  background-color: #134611;
  margin: auto;
}

/*# sourceMappingURL=index.css.map */
